<h1>Lista de estudiantes</h1>
<h2 style="color: green" class="subtitulo">{{ subtitulo }}</h2>

<ul>
    <li *ngFor="let estudiante of listaEstudiantes" [ngClass]="estudiante.estaActivo ? 'activo' : 'inactivo'">
        {{ estudiante.nombre }}
        <button *ngIf="estudiante.estaActivo == false">Activar</button>
    </li>
</ul>

<div [ngSwitch]="estudianteActual.nombre"> 
    <div *ngSwitchCase="'Camilo'">Camilo se encuentra en la plataforma</div>
    <div *ngSwitchCase="'Sofia'">Mónica se encuentra activa en el sitio</div>
    <div *ngSwitchDefault>Otro usuario se encuentra logeado</div>
</div>

<hr>

<p>{{ estudianteActual | json }}</p>

